table {  
  border-collapse: collapse;
  width: 100%;
  
}

td { color:yellow;
background: black;}
th{background: yellow;}

table, th, td {  
  border-collapse: collapse;
}
h3:hover { 
  background-color: green;
  cursor: crosshair;
}